@use "../../../variables" as *;
@tailwind base;
@tailwind components;
@tailwind utilities;

.chevron-icon {
    margin-left: 5px;
}

.dropdown-content-row {
    display: none;
    margin-bottom: 2rem;
    flex-direction: row;
    background: dropdown;
    
    a {
        font-size: 2vh;
        font-weight: bold;
        color: $footer-standard-text-color;
        text-shadow: $footer-standard-text-shadow;
        text-decoration: none;
        padding-right: 20px; 
        display: flex; 
        align-items: center;
    }

    a:hover {
        color: $footer-standard-hover-text-color;
        text-shadow: 0 0 10px $footer-standard-hover-text-shadow;
    }

    a.open {
        display: flex; 
    }
}

@media (min-width: 768px) {
    .chevron-icon {
        display: block; 
    }
    
    .dropdown-content-row {
        display: inline-flex; 
    }
}

@media (max-width: 768px) {
    .dropdown-content-row {
        display: inline-flex; 

        svg {
            font-size: 2rem;
        }
        
    
        a {
            padding-right: 30px; 
        }
    }
  }