@use "../../../variables" as *;
@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
  max-width: 30rem;
  width: 100%;
  padding: 0.8rem 0;
  margin: 0.5rem 0;
  border: none;
  border-radius: 0.5rem;
  font-weight: 700;

  &.modal-close-button {
    position: relative;
    left: 1rem;
    align-self: flex-end;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }

  &.sidebar-nav-item {
    display: flex;
    align-items: center;
    gap: 0.75rem; 
    width: 80%;
    padding: 0.5rem 0.75rem; 
    border-radius: 0.875rem; 
    font-size: 1rem; 
    font-weight: bold; 
    color: rgb(158, 54, 73);
    background-color: transparent; 
    transition: all 0.3s ease-in-out;
    text-decoration: none;

    &:hover {
      color: $footer-standard-hover-text-color;
      background-color: $button-background-color;
      text-shadow: 0 0 15px rgba(173, 14, 33, 0.904);
      span {  
        color: $footer-standard-hover-text-color;
      }
    }

    svg {
      text-shadow: 0 0 15px rgba(173, 14, 14, 0.904);
      font-size: 1.25rem; 
      transition: color 0.3s ease-in-out;
    }

    span {  
      color: $footer-standard-text-color;
    }
  }

  &.dropdown {
    background: $dropdown;
    padding: 0;
    margin-top: 10vh;
    color: rgb(182, 61, 77);
    text-shadow: 0 0 12px rgba(4, 99, 116, 0.068);
    flex-direction: row;
    display: flex;
    justify-items: center;
    align-items: center;
    font-size: 1.25vh;
    margin-right: 20px;
  }

  &.language-choice {
    background-color: $button-background-color;
    min-height: 4.5vh;
    max-width: 11vw;
    border-radius: 1.25vh;
    color: $footer-header-text-color;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    width: auto;
    cursor: pointer;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: $footer-standard-hover-text-color;
      text-shadow: 0 0 15px rgba(255, 24, 74, 0.288);
      background-color: $button-background-color-hover;
    }

    span {
      margin-right: 0.5rem;
      font-size: 1.25vh;
    }

    svg {
      font-size: 1.5vh;
    }
  }

  &.primary {
    background: #131322;
    color: rgb(182, 61, 61);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: auto;
  }

  &.secondary {
    color: rgb(182, 61, 61);
    background-color: rgb(218, 221, 221);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: auto;
  }

  &.outline {
    border-radius: 0;
    border: none;
    border-bottom: 0.2rem solid $primary;
    outline: none;
  }

  &.md {
    width: fit-content;
    min-width: 10rem;
    padding: 1rem 3rem 1rem 3rem;
    margin: 1.5rem 1rem 1.5rem 1.4rem;
    border-radius: 1.25rem;
    border: 5px solid #7c2e32;
  }

  &.primary:hover {
    color: rgb(211, 20, 52);
    text-shadow: 0 0 15px rgb(156, 6, 38);
  }

  &.secondary:hover {
    color: rgb(211, 20, 52);
    text-shadow: 0 0 15px rgba(173, 14, 14, 0.904);
    background-color: rgb(197, 199, 199);
  }

  &.social {
    border-radius: 10rem;
    padding: 1rem;
  }

  &.circle {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 0; 
  }

  &.submit {
    background: #ffffff00;
    color: rgb(182, 61, 61);
    border-radius: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #7c2e3a;
    cursor: pointer; 
    transition: all 0.3s ease; 

    &:hover {
      color: rgb(212, 86, 86);
      text-shadow: 0 0 15px rgba(173, 14, 14, 0.904);
    }

    &:active {
      border: 5px solid rgb(201, 81, 81);
      box-shadow: 0px 0px 40px -5px rgb(201, 81, 81);
      transform: scale(0.95); 
    }

    
}

  &.google {
    background-color: #f45742;
    color: white;

    &:hover {
      background-color: #c54a3a;;
    }
  }

  &.github {
    background-color: #24292E;
    color: white;

    &:hover {
      background-color: #1B1F23;
    }
  }

  &.twitter {
    background-color: #1DA1F2;
    color: white;

    &:hover {
      background-color: #1A91DA;
    }
  }
}

@media (max-width: 768px) {
  .button {
    &.dropdown {
      font-size: 1.5rem;
      justify-content: space-between;
      margin-top: 1.25rem;
      width: 100%;
    }

    &.language-choice {
      min-width: 35vw;
      max-width: 35vw;
      min-height: 4rem;
      max-height: 4rem;
      border-radius: 1.2rem;
      background-color: rgb(180, 180, 180)
    }

    &.language-choice span {
      font-size: 1.2rem;
    }

    &.language-choice svg {
      font-size: 1.2rem;
    }

    &.circle {
      width: 2.5rem;
      height: 2.5rem;
    }

    svg {
      font-size: 1.2rem;
    }
  }
}