@use "../../../variables" as *;

.sign-in-form {
  &__container {
    max-width: 28rem;
    margin: 0 auto;
    padding: 2rem 2.5rem;
    background-color: $button-background-color;
    border-radius: 1.25rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.21), 0 2px 4px -2px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 800;
    color: $info-color;
    text-shadow: $info-shadow-color;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }

  &__group {
    width: 100%;
  }

  &__label {
    display: block;
    font-size: 0.875rem;
    font-weight: 500;
    color: $info-color;
    margin-bottom: 0.5rem;
    transition: color 0.3s ease-in-out;
  }

  &__input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  &__input-icon {
    position: absolute;
    left: 1rem;
    color: $info-color; 
    font-size: 1rem;
    transition: color 0.3s ease-in-out;

    &.is-error { color: $error-color; }
    &.is-success { color: $success-color; }
  }

  &__input {
    font-weight: 500;
    width: 100%;
    padding: 0.75rem 1rem;
    padding-left: 3rem; 
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    line-height: 1.5;
    color: $info-color;
    background-color: #cdcfd1;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

    &:focus {
      outline: none;
      border-color: $info-color;
      box-shadow: 0 0 0 3px rgba(24, 157, 180, 0.2);
    }

    &.is-error {
      border-color: $error-color;
      &::placeholder { color: $error-color; }
    }
    &.is-success {
      border-color: $success-color;
    }
  }

  &__options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875rem;
  }

  &__remember-me {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    
    input[type="checkbox"] {
    }
  }

  &__link {
    color: $info-color;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: $info-hover-color;
      text-decoration: underline;
    }
  }

  &__separator {
    text-align: center;
    margin: 1.5rem 0;
    color: $footer-standard-text-color;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    gap: 1rem;

    &::before, &::after {
        content: '';
        flex-grow: 1;
        height: 1px;
        background-color: $footer-standard-text-color
    }
  }

  &__social-login {
    display: flex;
    justify-content: center;
    gap: 1rem;

    .button {
        font-size: 1.25rem; 
    }
  }

  &__footer {
    text-align: center;
    margin-top: 1.5rem;
    font-size: 0.9rem;
    color: $footer-standard-text-color;

    .sign-in-form__link {
        margin-left: 0.25rem;
    }
  }
}