@use "../../../variables" as *;
@tailwind base;
@tailwind components;
@tailwind utilities;

.chevron-icon {
    margin-left: 5px;
    transition: transform 0.3s ease;
    &.open {
        transform: rotate(180deg);
    }
}

.dropdown-section-col {
    display: flex;
    flex-direction: column;
}

.dropdown-content-col {
    display: flex;
    flex-direction: column;
    opacity: 0; 
    overflow: hidden; 
    transition: max-height 0.3s ease, opacity 0.3s ease; 
    border-radius: 8px;

    a {
        padding: 1px 2px;
        font-size: 1.25vh;
        font-weight: bold;
        display: block;
        color: $footer-standard-text-color;
        text-shadow: $footer-standard-text-shadow;
        margin-top: 10px;
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }

    a:hover {
      color: $footer-standard-hover-text-color;
      text-shadow: $footer-standard-hover-text-shadow;
      text-decoration: none;
    }

    &.open {
        max-height: 500px; 
        opacity: 1; 
    }
}

@media (min-width: 768px) {
    .chevron-icon {
        display: none; 
    }

    .dropdown-content-col { 
        opacity: 1;
        overflow: hidden;
    }
}

@media (max-width: 768px) {
    .chevron-icon {
        display: block;
    }
    
    .dropdown-content-col {
        min-height: 0;
        max-height: 0; 
        opacity: 0; 
        
        a {
            font-size: 1.5rem; 
            margin-top: 10px;
        }
    }
}