@use "../../molecules/dashboard/Dashboard.scss" as *;
@use "../../../variables" as *;
@tailwind base;
@tailwind components;
@tailwind utilities;


.layout-wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content-wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.footer {
  width: 100%;
  position: relative;
  z-index: 10;
}

@media (max-width: 768px) {
  .footer {
    width: 100vw;
  }
}